{% extends "base.html" %}
{% block title %}{{block.super}} | Es_For {% endblock title %}

    {% block content %}
    
    
    Cicla una sequenza usando <b>forloop.counter</b>
    <br/>
    {% for x in list2 %}
        <i>{{ forloop.counter }}</i> : {{ x }} <br/>
    {% endfor %}
    <br/>
    Stampa il primo elemento della sequenza usando <b>forloop.first</b>:
    <br/>
    {% for x in list2 %}
        {% if forloop.first %}
            <i>Il primo elemento</i> - {{ x }}
        {% endif %}
    {% endfor %}
    <br/>
    Stampa l'ultimo elemento della lista usando <b>forloop.last</b>:
    <br/>
    {% for x in list2 %}
        {% if forloop.last %}
            <i>L'ultimo elemento</i> - {{ x }}
        {% endif %}
    {% endfor %}
    <br/>

    <h2>Contenuto del dizionario:</h2>
    <ul>
        {% for key, value in my_dict.items %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>
    {% endblock content %}